
html{
  font-size: 18px;
  }
body{
  font-family: Helvetica;
  color: white;
}
div{
  display: block;
}
.container{
  width: 960px;
  margin: 0 auto;
}

  /*-- logo--*/
.logo{
  background-color: Black;
  width: 100%;
}
.site-id{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.66rem 0;
}
.logo img{
  height: 1.5rem;
  padding-left: 0.5rem;
}
.logo span{
  font-size: 1rem;
  padding-left: 1rem;
  color: white;
}

  /*-- banner--*/
.main-banner{
  display: flex;
  background-image: url(../images/moto.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 25rem;
}
.new-arrival{
  background-color: black;
  width: 20rem;
  height: auto;
  margin-top: 9rem;
  margin-bottom: 4rem;
  padding: 2rem 3rem;
}
.new-arrival h1, h3{
  font-weight: bold;

}
.new-arrival h1{
  font-size: 2rem;
}
.new-arrival h3{
  font-size: 1rem;
  padding-bottom: 0.25rem;
}

  /*-- nav--*/
.nav-back{
  background-color: firebrick;
  padding: 0.75rem 0;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav a{
  color: white;
}
a{
  text-decoration: none;
}
.drop-btn {
  background-color: firebrick;
  color: white;
  border: none;
  cursor: pointer;
}
.drop-down{
  position: relative;
  display: inline-block;
}
.drop-links {
  display: none;
  position: absolute;
  background-color: firebrick;
  min-width: 160px;
  z-index: 1;
}
.drop-links a{
  text-align: center;
  padding: 0.6rem 0.8rem;
  display: block;
  color: white;
  text-decoration: none;
}
.drop-down:hover .drop-links{
  display: block;
  }
  /*-- store--*/

.products{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 3rem 0;
}
.item {
  display: flex;
  flex-direction: column;
  width: 30%

}
.item-discript{
  background-color: black;
  padding: 0.5rem 1rem;
  text-align: center;
  color: white;
}
.item-image{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid black;
}
.item img{
  height: 9rem;
  margin: 2rem 0;
}

.brick-mor{
  display: flex;
  justify-content: space-between;
  margin-bottom: 4rem;
}
.store-info{
  display: flex;
  flex-direction: column;
  width: 35%;
}

.title span{
  display: flex;
  background-color: black;
  color: white;
  padding: 1rem 2rem;
}
 .hours span{
  color: black;

}
.location span{
  color: black;
}

  /*-- footer --*/
footer{
  display: flex;
  align-items: center;
  background-color: black;
  height: 5rem;
}

  /*-- tablet --*/
  @media only screen and (min-width: 768px) {
    .drop-down{
      display: none;
    }
  }
  @media only screen and (max-width: 768px){
    .container{
      width: 100%;
    }
    .nav-back{
      text-align: center;
    }
    .full-nav{
      display: none;
    }
    .products{
      /*flex-direction: column;*/
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .item{
      width: 47%;
      margin-bottom: 2rem;
    }
    .glasses{
      display: none;
    }
    .brick-mor{
      /*
      flex-direction: column;
      justify-content: center;
      align-items: center;*/
    }

  }

  @media only screen and (max-width: 768px) (hover: hover){
     .drop-btn {
        display: block;
        font-size: 1rem;
        background-color: firebrick;
        color: white;
        border: none;
        cursor: pointer;
      }
      .drop-links {
        display: none;
        position: absolute;
        background-color: firebrick;
        min-width: 160px;
        z-index: 1;
        }
      .drop-links a{
        text-align: center;
        padding: 0.6rem 0.8rem;
        display: block;
        color: white;
        text-decoration: none;
        }
      .drop-down:hover .drop-links{
        display: block;
        }
      }
  /*-- mobile --*/
  @media only screen and (max-width: 480px){
    .main-banner{
      height: 15rem;
    }
    .new-arrival{
      margin-top: 10rem;
      width: auto;
      height: 1rem;
    }
    .new-arrival h3{
      font-size: 0.77rem;
      padding: 1rem auto 0 2rem;
      font-weight: bold;
    }
    .new-arrival h1{
      font-size: 1rem;
      font-weight: bold;
    }
    .products{
      flex-direction: column;
      align-items: center;
    }
    .item{
      width: 90%;
      margin-bottom: 2rem;
    }
    .glasses{
      display: flex;
    }
    .brick-mor{
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .store-info{
      width: 90%;
    }
    .location{
      margin-bottom: 0.5rem;
    }
    .copy{
      text-align: center;
    }
  }
